.gaps{


    margin-top: 6vh;
}


.homepagecolor{

background-color: rgb(67, 68, 63);

}


.visiongap{

margin: 5vh;

}



.missions-container{

    height: 60vh;

    background-color: rgb(91, 143, 78);

}





.organizationcontainer{


    margin-top: 10vh;
}